<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Registration</title>
</head>
<body>
<div class="container container d-flex justify-content-center">
  <div class="col-6 d-flex flex-column">
    <form th:action="@{/reg}" th:object="${user}" method="POST">

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input th:field="*{name}" type="text" name="name" class="form-control" id="name">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
      </div>

      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input th:field="*{login}" type="text" name="login" class="form-control" id="login">
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Incorrect date</p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input th:field="*{password}" type="password" name="password" class="form-control" id="password">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
      </div>
      <button class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>

</body>
</html>